extends ./layouts/layout.pug
block index
  .header.masthead
    .container
      .row.h-100.align-items-center
        .col.text-center
          h1.font-weight-light Welcome to our website!
          p.lead Find your best book in here <3


      