extends ../layouts/layout.pug
block content
  .row
    .col-4.m-auto
      .text-center
        h3.mb-3 Add new book
      form(action=`/shop/${user.id}/create`, method="POST", enctype='multipart/form-data')
        .form-group
          input.form-control(type='text', placeholder='Book title', name="title")
        .form-group
          input.form-control(type='text', placeholder='Decription', name="decription")
        .form-group
          label.lead Book cover
          input.form-control-file(type='file', name='bookCover') 
        .text-center
          button.btn.btn-primary.px-10(type='submit') Submit