extends ../layouts/layout.pug
block content
  .text-center
    h1.font-weight-light.mb-5 Update Infomation
  .container
    .row.d-flex.flex-column.align-content-md-center.align-items-md-center
      .col.col-auto
        img.rounded-circle(src= user.avatar, width="200", height="200", style="object-fit: cover")
      .col.col-4
        form(action=`/users/${user.id}/update`, method='post', enctype='multipart/form-data')
          .form-group.col
            input.form-control-file.mt-5(type='file', name='avatar')
          .form-group.col
            input.form-control(type="text", name="name", value= user.name)
          .form-group.col
            input.form-control(type="password", name="password", value="******")
            .text-center
              button.btn.btn-primary.mt-2 Update
        
