extends ../layouts/layout.pug
block content
  .row
    .col
      h2 Update profile
      img.rounded-circle(src= user.avatar, width="200", height="200", style="object-fit: cover")
      form(action=`/users/${user.id}/update`, method='post', enctype='multipart/form-data')
        .form-group.col-md-6
          input.form-control-file.mt-5(type='file', name='avatar')
        .form-group.col-md-3
          input.form-control(type="text", name="name", placeholder="new name", value= user.name)
          button.btn.btn-primary.mt-2 Update
