extends ../layouts/layout.pug
block content
  .d-flex.justify-content-between.align-items-center.mb-5
    h3 Lịch sử giao dịch
    if user.isAdmin
      a.btn.btn-primary(href="/transactions/create") Tạo transaction mới
  table.table
    thead.thead-dark
      tr
        th Full Name
        th Book
        th Status
        th 
    tbody
    each transaction in transactions
      if user.isAdmin
        tr
          td= transaction.userName
          td= transaction.bookTitle
          if !transaction.isComplete
            td Đang mượn
            td
              a.btn.btn-primary(href="/transactions/" + transaction.id + "/complete") Hoàn thành
          else
            td Đã trả
            td
      else 
        tr
          td= transaction.userName
          td= transaction.bookTitle
          if !transaction.isComplete
            td Đang mượn
            td
              a.btn.btn-primary(href="/transactions/" + transaction.id + "/complete") Hoàn thành
          else
            td Đã trả
            td
